* {
	box-sizing: border-box;
	border: 1px solid rgb(56, 59, 60)ck;

}

body {
	font-family: 'Roboto', sans-serif;
	background: #262526;
	
}
legend {
	font-family: 'sans-serif', sans-serif;
	font-size: 20px;
	color: rgb(156, 165, 236);
	padding: 20px;
	
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
	
}
.tabla{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 710px;
	background-color: rgb(56, 59, 60);
	padding: 10px 10px;
	border: solid rgb(107, 107, 110) 1px;
	margin-left: 60px;
	border-radius: 5px;
	
	
}
.formulario {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: initial;
}

.formulario__label {
	display: flex;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	color: rgb(156, 165, 236);
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 40px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	margin: 10px 0px;
	transition: .3s ease all;
	
}

.formulario__input:focus {
	border: 3px solid  rgba(163,163,163, 0.4);
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;

}


.formulario__input-error-activo {
	display: block;
	color: #bb2929;
}

.formulario__validacion-estado {
	position: absolute;
	opacity: 0;

}
/* He intentado meter el check con background-image: url("check.svg") pero al ejecutarlo no consigo que funcione*/
.check{
	position: absolute;
	width: 4%;
	height: 60%;
	right: 1%;
	bottom: 20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("check.svg");
}

.nocheck{
	position: absolute;
	width: 4%;
	height: 60%;
	right: 1%;
	bottom: 20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("error-icon.svg");
}




.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #5348f0da;
	color: #fff;
	font-weight: bold;
	border-color: #bbb8bd;
	border-radius: 5px;
	cursor: pointer;
	transition: .1s ease all;


}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;

}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;

}

.formulario__grupo-imput .formulario__validacion-estado {
	border: 3px solid #bb2929;
}
.formulario__grupo-correcto .formulario__label {
	color: #1ed12d;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-correcto .formulario__input {
	border: 3px solid #1ed12d;
	
}

.formulario__grupo-imput .formulario__validacion-estado {
	border: 3px solid #1ed12d;
	
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	
	.formulario__btn {
		width: 100%;
	}
}